.form-remarks
  %p
    お客様の発送元・お届け先住所情報をご登録ください。
  %p.form-remarks__link
- if local_assigns[:edit_flag].present?
  .form-contents
    = field.label "お名前", class: "form-contents__label"
    %p
      = user.profile.family_name
      = user.profile.first_name
  .form-contents
    = field.label "お名前カナ", class: "form-contents__label"
    %p
      = user.profile.family_name_kana
      = user.profile.first_name_kana
- else
  = field.fields_for :profile do |profile|
    = profile.hidden_field :nickname
    = profile.hidden_field :birthday
    .form-contents
      = profile.label "お名前", class: "form-contents__label"
      %span.required 必須
      = profile.text_field :first_name, class: "form-contents__input", placeholder: "例)メルカリ"
      = profile.text_field :family_name, class: "form-contents__input", placeholder: "例)太郎"
    .form-contents
      = profile.label "お名前カナ", class: "form-contents__label"
      %span.required 必須
      = profile.text_field :first_name_kana, class: "form-contents__input", placeholder: "例)メルカリ"
      = profile.text_field :family_name_kana, class: "form-contents__input", placeholder: "例)タロウ"
.form-contents
  = field.label "生年月日", class: "form-contents__label"
  %p
    = user.profile.birthday
= field.fields_for :delivery_address do |address|
  .form-contents
    = address.label "郵便番号", class: "form-contents__label"
    %span.required 必須
    = address.text_field :zip_code, class: "form-contents__input", placeholder: "例)1234567"
  .form-contents
    = address.label "都道府県", class: "form-contents__label"
    %span.required 必須
    .select-section
      = address.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, {class: "form-select"}
      %i.fas.fa-chevron-down
  .form-contents
    = address.label "市区町村", class: "form-contents__label"
    %span.required 必須
    = address.text_field :city, class: "form-contents__input", placeholder: "例)横浜市緑区"
  .form-contents
    = address.label "番地", class: "form-contents__label"
    %span.required 必須
    = address.text_field :street_number, class: "form-contents__input", placeholder: "例)青山1-1-1"
  .form-contents
    = address.label "建物名", class: "form-contents__label"
    %span.elective 任意
    = address.text_field :building, class: "form-contents__input", placeholder: "例)柳ビル103"
  .form-contents
    = address.label "電話番号", class: "form-contents__label"
    %span.elective 任意
    = address.text_field :telephone, class: "form-contents__input", placeholder: "例)09012345678"
- if controller.action_name == "new"
  = field.submit "次へ進む", class: "form-submit"
- else
  = field.submit "更新する", class: "form-submit"
