.form-remarks
  %p
    お客様の発送元・お届け先住所情報をご登録ください。
  %p.form-remarks__link
.form-contents
  = field.label "お名前", class: "form-contents__label"
  %p
    = user.profile.family_name
    = user.profile.first_name
.form-contents
  - if controllser.action_name == "new"
    = field.label "お名前カナ", class: "form-contents__label"
    %p
      = user.profile.family_name_kana
      = user.profile.first_name_kana
  - else
    -# ToDo ここにeditじのフォームかく
.form-contents
  = field.label "生年月日", class: "form-contents__label"
  %p
    = user.profile.birthday
.form-contents
  = field.label "郵便番号", class: "form-contents__label"
  %span.required 必須
  = field.text_field :zip_code, class: "form-contents__input", placeholder: "例)1234567"
.form-contents
  = field.label "都道府県", class: "form-contents__label"
  %span.required 必須
  .select-section
    = field.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, {class: "form-select"}
    %i.fas.fa-chevron-down
.form-contents
  = field.label "市区町村", class: "form-contents__label"
  %span.required 必須
  = field.text_field :city, class: "form-contents__input", placeholder: "例)横浜市緑区"
.form-contents
  = field.label "番地", class: "form-contents__label"
  %span.required 必須
  = field.text_field :street_number, class: "form-contents__input", placeholder: "例)青山1-1-1"
.form-contents
  = field.label "建物名", class: "form-contents__label"
  %span.elective 任意
  = field.text_field :building, class: "form-contents__input", placeholder: "例)柳ビル103"
.form-contents
  = field.label "電話番号", class: "form-contents__label"
  %span.elective 任意
  = field.text_field :telephone, class: "form-contents__input", placeholder: "例)09012345678"
- if controller.action_name == "new"
  = field.submit "次へ進む", class: "form-submit"
- else
  = field.submit "更新する", class: "form-submit"
