- breadcrumb :item, @item
= render partial: 'layouts/breadcrumbs'

.item-detail-container
  %h1 品名
  .item-detail-content
    .item-detail-content__photo
      = image_tag 'http://via.placeholder.com/225x300', class:'item-detail-content__photo--big'
      .item-detail-content__photo--small
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
        = image_tag 'http://via.placeholder.com/60x60'
    .item-detail-content__detail-table
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              メルカリ売り太郎
              .user-rating
                .user-rating__inner
                  %i.fas.fa-grin.good
                  %span 0
                .user-rating__inner
                  %i.fas.fa-meh.normal
                  %span 0
                .user-rating__inner
                  %i.fas.fa-frown-open.bad
                  %span 0
            %tr
              %th カテゴリ
              %td カテゴリ名
            %tr
              %th ブランド
              %td ブランド名
            %tr
              %th 商品のサイズ
              %td そこそこ
            %tr
              %th 商品の状態
              %td ボッロボロ
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td ゆうゆうメルカリ便
            %tr
              %th 配送元地域
              %td 北海道
            %tr
              %th 発送日の目安
              %td 4~7日で発送
  .item-price-box
    %span.item-price-box__price ¥ 6,800
    %span.item-price-box__tax (税込)
    %span.item-price-box__shipping-fee 送料込み
  -#TODO if "itemのsale_statusが1の時下の２行を表示させる"
  .sales-balance
    .sales-balance__messages 残高 ¥ 256をお持ちです
  -#TODO dealコントローラとを作成した時に下のcontrollerをitemsからdealsに変更する。
  =link_to "購入画面に進む",{controller: "items", action: "show"},{class:"item-buy-btn"}
  -#T
    .item-buy-btn--disabled 売り切れました

  .item-description
    %p.item-description__inner
      めっちゃくちゃやす〜〜〜〜〜〜〜い！ほし〜〜〜〜〜〜〜〜〜い！
      かいた〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜い
    -#TODO ログイン機能を実装したらunlessとelseのコメントアウトを外す
    -# -unless current_user.id == item.user_id 
    .item-button-container--clearfix
      .item-button-content__left
        .item-button-content__left--like
          %button.like-button 
            %i.far.fa-heart
            %span いいね！
            %span.fade-in-down 5 
        .item-button-content__left--report
          %i.far.fa-flag
          %span 不適切な商品の報告
      .item-button-content__right
        =link_to "https://www.mercari.com/jp/safe/description/",target: "_blank" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  -# -else  
    -# =render partial: "show-edit-box" 
=render partial: "comments/index"
