- breadcrumb :item, @item
= render partial: 'layouts/breadcrumbs'

.item-detail-container
  %h1 #{@item.name}
  .item-detail-content
    .item-detail-content__photo
      .item-detail-content__photo--big
        %ul.slider
          %li
            = image_tag @item.item_images.first.photo.url
          - @item.item_images[1,9].each do |item_image|
            %li
              = image_tag item_image.photo.url
      .item-detail-content__photo--small
        %ul.thumb
          %li
            = image_tag @item.item_images.first.photo.url, size: :"60x60", class: 'small-photo active'
          - @item.item_images[1,9].each do |item_image|
            %li
              = image_tag item_image.photo.url, size: :"60x60", class: 'small-photo'

    .item-detail-content__detail-table
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              #{@item.user.profile.nickname}
              .user-rating
                .user-rating__inner
                  %i.fas.fa-grin.good
                  %span 0
                .user-rating__inner
                  %i.fas.fa-meh.normal
                  %span 0
                .user-rating__inner
                  %i.fas.fa-frown-open.bad
                  %span 0
            %tr
              %th カテゴリ
              -if @item.category.present?
                %td #{@item.category.name}
              -else
                %td -
            %tr
              %th ブランド
              -if @item.item_detail.brand.present?
                %td #{@item.item_detail.brand}
              -else
                %td -
            %tr
              %th 商品のサイズ
              -if @item.item_detail.size_id.present?
                %td #{@item.item_detail.size.name}
              -else
                %td -
            %tr
              %th 商品の状態
              %td #{@item.item_detail.condition.name}
            %tr
              %th 配送料の負担
              %td #{@item.shipping_origin.burden.name}
            %tr
              %th 配送の方法
              %td #{@item.shipping_origin.delivery_method.name}
            %tr
              %th 配送元地域
              %td #{@item.shipping_origin.prefecture.name}
            %tr
              %th 発送日の目安
              %td #{@item.shipping_origin.delivery_date.name}
  .item-price-box
    %span.item-price-box__price ¥ #{@item.price.to_s(:delimited)}
    %span.item-price-box__tax (税込)
    %span.item-price-box__shipping-fee 送料込み
  - if user_signed_in? && current_user.id != @item.user_id
    - if @item.sale_status == 0
      .sales-balance
        .sales-balance__messages 残高 ¥ #{current_user.profit.to_s(:delimited)}をお持ちです
      -#TODO dealコントローラとを作成した時に下のcontrollerをitemsからdealsに変更する。
      =link_to "購入画面に進む",{controller: "items", action: "show"},{class:"item-buy-btn"}
  - elsif user_signed_in? && current_user.id == @item.user_id
  - else
    =link_to "購入画面に進む",{controller: "items", action: "show"},{class:"item-buy-btn"}
  -#TODO itemsテーブルのbuyer_idが存在したら売り切れとなるようにする。
  - if @item.sale_status == 1
    .item-buy-btn--disabled 売り切れました

  .item-description
    %p.item-description__inner
      #{@item.description}
  -if user_signed_in? && current_user.id != @item.user_id 
    .item-button-container--clearfix
      .item-button-content__left
        .item-button-content__left--like
          %button.like-button 
            %i.far.fa-heart
            %span いいね！
            %span.fade-in-down #{@like}
        .item-button-content__left--report
          %i.far.fa-flag
          %span 不適切な商品の報告
      .item-button-content__right
        =link_to root_path,target: "_blank" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
-if user_signed_in? && current_user.id == @item.user_id 
  =render partial: "show-edit-box" 
=render partial: "comments/index"
